/* audio left */

.audio-left{
    float: left;
}
.audio-left-right{
    float: right;
}
.audio-left audio, .audio-left-right audio{
    padding: 100px;
    background-size: 500px;
    background-repeat: no-repeat;
    border-radius: 20px;
    padding-bottom: 5px;
    padding-top: 210px;
    margin: 30px;
}
.audio-left h4,.audio-left-right h4{
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    text-align: center;
}
@media screen and (max-width:700px){
    .audio-left-right h4{
        text-align: center;
    }
    .audio-left-right{
        float: left;
    }
}

/* audio right */
.audio-right h4{
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    text-align: center;
}

/* post malone */
#postmalonetitle{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
}
#betternow{
    background-image: url("images/post-malone/better now.jpg");
}
#congratulations{
    background-image: url("images/post-malone/Congratulations.jpg");
    background-size: 517px;
}
#rockstar{
    background-image: url("images/post-malone/rockstars.jpg");
}
#download-png img{
    height: 30px;
}
#download-png{
    text-align: center;
    margin-bottom: 50px;
}
#download-png a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}
#download img:hover{
    height: 35px;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
}
#download-png img:hover{
    cursor: pointer;    
}
#circles{
    background-image: url("images/post-malone/circles.jpg");
    background-size: 535px;
}
#sunflower{
    background-image: url("images/post-malone/sunflower.jpg");
}
/* Marshmello */
#marshmellotitle{
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#happier{
    background-image: url("images/marshmello/happier.jpg");/* Happier Image Here. */
}
#Alone{
    background-image: url("images/marshmello/alone.jpg");
}

/* Pewdiepie */
#pew-congratulations{
    background-image: url("images/pewdiepie/celibration.jpg");
}
#bsh-lasagna{
    background-image: url("images/pewdiepie/bi--Coollazina.jpg");
}
/* Alan Walker */
#faded{
    background-image: url("images/alan-walker/fade.jpg");
}
#sleep{
    background-image: url("images/alan-walker/sleep.jpg");
}
#alone{
    background-image: url("images/alan-walker/alone.jpg");
}

/* Submited Songs */
#lalala{
    background-image: url("images/submited/lalala-by-bbno$.jpg");
}
#minecraft{
    background-image: url("images/Minecraft/logo.jpg");
}
/* littel-nas-x */
#oldtownroad{
    background-image: url("images/littel-nas-x/old-town-road.jpg");
}
#panini{
    background-image: url("images/littel-nas-x/panini.jpg");
}
/* 21 pilots */
#stresed-out{
    background-image: url("images/21-pilots/stressedOut.jpg");
}
#Heathens {
    background-image: url("images/21-pilots/heatens.jpg");
}